{% extends 'base.html.twig' %}

{% block title %}Panel administracyjny{% endblock %}

{% block body %}
    {% for label, messages in app.flashes(['danger', 'success']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>Witamy admina!</h1>
    <a href="{{ path('sendBackup') }}" class="btn btn-secondary mt-3">Wyślij backup</a>
    <a href="{{ path('sendReport') }}" class="btn btn-primary mt-3">Wyślij raport</a>
    <a href="{{ path('sendReports') }}" class="btn btn-primary mt-3">Wyślij wszystkie raporty</a>
{% endblock %}