{% extends('base.html.twig') %}

{% block title %}Edytuj zadanie{% endblock %}

{% block body %}
    {% for label, messages in app.flashes(['danger', 'success']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.deadline) }}
    {{ form_row(form.checked) }}

    {% if task.attachment %}
        <div id="attachments">
        {% for attachment in task.attachment %}
            <div class="d-flex justify-content-between">
                <a href="{{ path('task.download', {id: task.id, filename: attachment.uniquename }) }}" class="btn btn-info">{{ attachment.name }}</a>
                <div class="float-right">
                    <a href="{{ path('task.rename_file', {id: task.id, filename: attachment.uniquename }) }}" class="btn btn-dark">Zmień nazwę</a>
                    <a href="#" data-id="{{ task.id }}" data-filename="{{ attachment.uniquename }}" class="btn btn-danger delete-task">Usuń</a>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {{ form_row(form.attachment) }}

    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        const delete_btn = document.getElementById('attachments')

        if (delete_btn) {
            delete_btn.addEventListener('click', e => {
                if (e.target.className === "btn btn-danger delete-task") {
                    let id = e.target.getAttribute('data-id')
                    let name = e.target.getAttribute('data-filename')

                    fetch(`/task/delete_file/` + id + '/' + name, {
                        method: 'DELETE'
                    }).then(window.location.reload())
                }
            })
        }
    </script>
{% endblock %}