{% extends 'base.html.twig' %}

{% block title %}Twoje zadania{% endblock %}

{% block body %}
    {% for label, messages in app.flashes(['danger', 'success']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if tasks %}
    <h1>Twoje zadania:</h1>
    <table id='table' class="table table-striped">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Czas do końca zadania</th>
                <th>Status</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td style="width: 30%">{{ task.title }}</td>
                    <td class='date'>{{ task.deadline|date("d/m/Y") }}</td>
                    <td class='status' data-id={{ task.checked }}></td>
                    <td>
                        <a href="{{ path('task.edit', {id: task.id}) }}" class="btn btn-dark">Edytuj</a>
                        <a href="#" data-id="{{ task.id }}" class="btn btn-danger delete-task">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Brak zadań</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        const table = document.getElementById('table')

        if (table) {
            table.addEventListener('click', e => {
                if (e.target.className === 'btn btn-danger delete-task') {
                    let id = e.target.getAttribute('data-id')

                    fetch(`/task/delete/` + id, {
                        method: 'DELETE'
                    }).then(window.location.reload())
                }
            })
        }

        const dates = document.getElementsByClassName('date')
        const status = document.getElementsByClassName('status')
        if (dates) {
            let i = 0
            for (date of dates) {
                if (status.item(i).getAttribute('data-id')) {
                    status.item(i).innerHTML = "Zadanie wykonane!"
                    status.item(i).style.color = "green"
                } else {
                    let daysNumber = check(date)
                    
                    if (daysNumber < 0) {
                        status.item(i).innerHTML = "Po terminie!"
                    }
                    if (daysNumber === 0) {
                        status.item(i).innerHTML = "Dzisiaj upływa czas na wykonanie zadania!"
                    }
                    if (daysNumber === 1) {
                        status.item(i).innerHTML = "Tylko jeden dzień do końca!"
                    }
                    if (daysNumber > 1 && daysNumber <= 3) {
                        status.item(i).innerHTML = "Tylko " + daysNumber + " dni do końca!"
                    }
                    status.item(i).style.color = "red"
                }
                i++
            }
        }

        function check(date) {
            let date1 = date.innerHTML
            date1 = date1.split("/")
            date1 = new Date(date1[1] + "/" + date1[0] + "/" + date1[2])
            
            let date2 = new Date()
            date2.setHours(0)
            date2.setMinutes(0)
            date2.setSeconds(0)
            date2.setMilliseconds(0)

            let timeBetweenDates = date1.getTime() - date2.getTime()

            return Math.round(timeBetweenDates / (1000 * 3600 * 24))
        }
    </script>
{% endblock %}